@import "tailwindcss";

@theme {
    --container-max-w-8xl: 1440px;
    --spacing-68: 236px;
    --spacing-99: 1024px;
    --spacing-84: 196px;
    --spacing-91: 411px;
    --spacing-62: 845px;
    --text-es: 9.41px;
    --spacing-30: 32.95px;
    --spacing-66: 643px;
    --text-lx: 22px;
    --spacing-78: 178px;
    --spacing-50: 500px;
    --spacing-42: 48px;
    --spacing-100: 1320px;
}